@page "/formpage/registroRepresentante"
@inject NavigationManager NavigationManager
<h3>Registro de Representante de Ventas</h3>
<FormRepresentante/>
@code {
    public RepresentanteVentas oRepresentanteFormCLS { get; set; } = new RepresentanteVentas();
    private void guardar()
    {
        Console.WriteLine("Guardando");
    }
    private void regresar()
    {
        NavigationManager.NavigateTo("/formpage");
    }
}
